* {
  font-family: 'Niramit', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, orange, yellow);
  height: 100vh;
  color: #2c2c2c;
}

.nav-container {
  border: 2px solid;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  padding: 0.5%;
  font-size: 1.75vw;
  background: #2c2c2c;
}

.contact-page li {
  margin-left: 20px;
}

.nav-container ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10%;
  width: 30%;
}

.nav-container ul li {
  list-style: none;
}

.nav-left {
  margin: 0 0 0 0.5%;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.li-border-right {
  border-right: 1px solid white;
  height: 90%;
}

.li-border-left {
  border-left: 1px solid white;
  height: 90%;
}

.nav-container a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 82vh;
  padding: 2.5%;
}

.date {
  align-self: flex-end;
}

h1 {
  font-weight: bold;
  font-size: 36px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px;
}

input {
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid grey;
}

input:focus {
  border: 1px solid lightblue;
  outline: none;
}

#submit {
  padding: 10px 20px 10px 20px;
  background: green;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}

h2 {
  align-self: center;
}

.book-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 5px;
  gap: 10px;
}

.book-item > p {
  font-weight: bold;
  font-size: 2vw;
}

.book-item > button {
  background: red;
  border: none;
  padding: 10px;
  color: white;
  font-size: 20px;
  border-radius: 5px;
}

.book-item > button :hover {
  cursor: pointer;
}

.books-wrapper {
  display: none;
  border: 2px solid gray;
}

.contact-page {
  display: none;
  flex-direction: column;
  gap: 10%;
}

.contact-page-header {
  text-align: center;
  margin-bottom: 7%;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5%;
  background: black;
  color: white;
  font-size: 20px;
}

button:hover {
  transform: scale(1.05);
}

.nav-container > a :hover {
  background: white;
}
